<div class="bg" >
    <h3>Intimate the Claim</h3>
   
    <br>
    <br>
    <br>
    <br>
   
<div class="input-group mb-3 sol">
    <label class="input-group-text" for="inputGroupSelect01">Type of Claim *</label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Motor Claim</option>
      <option value="1">Health Claim</option>
      <option value="2">Other Claims</option>
        </select>
  </div>
  <br>
  <div class="input-group mb-3 sol">
    <span class="input-group-text" id="inputGroup-sizing-default">Policy Number</span>
    <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <br>
  <button type="submit" class="btn btn-primary my-1">Register Claim</button>
  <br>
 
    
</div>