.bg{
    background-color: #ada8ad;
    padding-top: 200px;
    text-align: center;

    width:100%;
    height: 100vh;
}

.sol {
    text-align: center;
    padding-left: 51pc;
    padding-right: 46pc;
}

.all {
    
    text-align: center;
}
