<div class="bg" >
    <form class="form-inline ">
    <h3>Quick Renewals</h3>
    <br>
    <br>
    <h5>Place to renew your policy online </h5>
    <br>
    <br>
    
    <div class="form-outline">
        <div><h5>Enter the Previous Policy Number</h5></div><input type="tel" id="typePhone" class="form-control" > 
        <label class="form-label" for="typePhone"></label>
    </div> 
  
    <button type="submit" class="btn btn-primary my-1" style='margin-right:3%'>Submit</button>
    <button type="reset" class="btn btn-primary my-1">Cancel</button>
  </form>
</div>