<div class="bg" >
    <form class="form-inline ">
    <h3><b>Track Your Claim</b></h3>
    <br>
    <h5>Search Claim Details </h5>
    <br>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">Claim Number</option>
      <option value="2">Policy Number</option>
      <option value="3">Customer ID</option>
    </select>
    <div class="sol">
    <div class="form-outline">
        <input type="tel" id="typePhone" class="form-control" > 
        <label class="form-label" for="typePhone"></label>
    </div> 
</div>
  
    <button type="submit" class="btn btn-primary my-1">Show my Claim Status</button>
  </form>
</div>