
  <div class="login-container">
    <img class="film" src="assets/about.png" alt="">
    <div class = "logo"> Overview</div>
    <div class="desc"> The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, 
      The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, 
      The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, and may inject dependencies of their own. We need the reference to the current injector immediately so we can keep running each of them
      The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
       <br><br>
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, 
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
       <br><br>

       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, 
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, 
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
       <br><br>
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, 
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company, 
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
       The Insurance Company name etc, founded by Mr. XXXXXXXXXXXXXXX in 19--, a Multinational General Insurance Company,
    </div>
        

        
</div>
    