
  <div class="login-container">
    <img class="film" src="assets/about.png" alt="">
    <div class = "logo"> Overview</div>
    <div class="desc"> NEW INDIA ASSURANCE CO. LTD, founded by Sir Dorabji Tata in 1919, a Multinational General Insurance Company, today operates in 26 countries and headquartered at Mumbai, India.Our global business crossed Rs. 31573 crores in March 2021.

        We have been market leaders in India in Non-Life business for more than 50 years.Our Indian business crossed Rs.28548 crores in March 2021. We are rated B++ Stable FSR Rating and bbb+ Stable ICR Outlook byAM BEST Company. We have been rated AAA/Stable by CRISIL since 2014 , indicating that the Company has the highest degree of Financial Strength to honour its Policyholder's obligations.
        
        We have been leading the market, apart from premium, in reserves & net worth for many years. </div>
        

        
</div>
    