.bg{
    background-color: #ada8ad;
    padding-top: 80px;
    text-align: center;

    width:100%;
    height: 100vh;
    padding-left: 15pc;
    padding-right: 15pc;
}
.bb{
    background-color: #ada8ad;
}

.card-text {
    text-align: left;
}