<div class="bg">  

    <div class="row aaa">
        
    <div class="col-sm-6">
        
      <div class="card bb">
        <div class="card-body">
          <h5 class="card-title">Family Health Optima</h5>
          <div class="card-text"><u>Highlights of Family Health Optima policy.. </u><br>
            <ul>
                        <li>Entry Age: 18 to 45 Years for Adults and Children: 91 Days to 25 Years</li>
                        <li>Family Definition: Self, spouse and Dependent Children</li>
                        <li>Sum Insured: 5 L, 10 L , 15 L, 25 L and 50 L</li>
                        <li>Life Long Renewals</li>
                        <li>80 D tax benefit</li>
                      </ul>
                      </div>
          <a href="#" class="btn btn-primary" style='margin-right:3%'>Buy Plan</a>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bb">
        <div class="card-body">
          <h3 class="card-title">Comprehensive Insurance</h3>
          <div class="card-text"><u>Highlights of Comprehensive Insurance policy.. </u><br>
<ul>
            <li>Entry Age: 18 to 45 Years for Adults and Children: 91 Days to 25 Years</li>
            <li>Family Definition: Self, spouse and Dependent Children</li>
            <li>Sum Insured: 5 L, 10 L , 15 L, 25 L and 50 L</li>
            <li>Life Long Renewals</li>
            <li>80 D tax benefit</li>
          </ul>
          </div>
          <a  class="btn btn-primary" style='margin-right:3%'>Buy Plan</a>
          <a  class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
  </div>
  
  <br>

  <br>
  <br>
  <br>
  <div class="row aaa">
    <div class="col-sm-6">
      <div class="card bb">
        <div class="card-body">
          <h5 class="card-title">Yong Star Policy</h5>
          <div class="card-text"><u>Highlights of Yong Star policy.. </u><br>
            <ul>
                        <li>Entry Age: 18 to 45 Years for Adults and Children: 91 Days to 25 Years</li>
                        <li>Family Definition: Self, spouse and Dependent Children</li>
                        <li>Sum Insured: 5 L, 10 L , 15 L, 25 L and 50 L</li>
                        <li>Life Long Renewals</li>
                        <li>80 D tax benefit</li>
                      </ul>
                      </div>
          <a href="#" class="btn btn-primary" style='margin-right:3%'>Buy Plan</a>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bb">
        <div class="card-body">
          <h5 class="card-title">Medi Classic Policy</h5>
          <div class="card-text"><u>Highlights of Medi Classic policy.. </u><br>
            <ul>
                        <li>Entry Age: 18 to 45 Years for Adults and Children: 91 Days to 25 Years</li>
                        <li>Family Definition: Self, spouse and Dependent Children</li>
                        <li>Sum Insured: 5 L, 10 L , 15 L, 25 L and 50 L</li>
                        <li>Life Long Renewals</li>
                        <li>80 D tax benefit</li>
                      </ul>
                      </div>
          <a href="#" class="btn btn-primary" style='margin-right:3%'>Buy Plan</a>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
