.bg{
    background-color: #ada8ad;
    padding-top: 30px;
    text-align: center;

    width:100%;
    height: auto;
}

.sol {
    text-align: center;
    padding-left: 25pc;
    padding-right: 25pc;
}

.sol1 {
    text-align: left;
    padding-left: 25pc;
    padding-right: 25pc;
}