<div class="bg">  
    <h3><ul> Proposal Form</ul> </h3>
    <div class="input-group sol">
        <span class="input-group-text">First and last name</span>
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
      </div>
<br>

      <div class="input-group sol">
        <span class="input-group-text"> Address </span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
<br> 
<div class="sol1"> Gender
  <div class="form-check form-check-inline"> 
    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">Male </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Female</label>
  </div>
  <div class="form-check form-check-inline"> 
    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio3" value="option1">
    <label class="form-check-label" for="inlineRadio3">Third Gender </label>
  </div>
  </div>
  <br>
<div class="input-group mb-3 sol">
  <label class="input-group-text" for="inputGroupSelect01">Nationality *</label>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Select</option>
    <option value="1">Indian</option>
    <option value="2">Non Indian</option>
      </select>
</div>
<br>
<div class="input-group mb-3 sol">
  <span class="input-group-text" id="inputGroup-sizing-default">Mobile Number</span>
  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<br>
    <div class="input-group mb-3 sol">
        <label class="input-group-text" for="inputGroupSelect01">Year of Manufacture *</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">2022</option>
          <option value="2">2021</option>
          <option value="3">2020</option> 
          <option value="3">2019</option>
          <option value="3">2018</option>
          <option value="3">2017</option>
          <option value="3">2016</option>
          <option value="3">2015</option>
          <option value="3">2014</option>
          <option value="3">2013</option>
          <option value="1">2012</option>
          <option value="2">2011</option>
          <option value="3">2010</option>
        </select>
      </div>
      <div class="input-group mb-3 sol">
        <label class="input-group-text" for="inputGroupSelect01">Select Model *</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Select</option>
          <option value="1">Marruthi</option>
          <option value="2">Tata</option>
          <option value="1">Ford</option>
          <option value="2">Volkswagen</option>
          <option value="1">Skoda</option>
          <option value="2">Mahindra</option>
            </select>
      </div>
      <br>
      <div class="input-group mb-3 sol">
        <label class="input-group-text" for="inputGroupSelect01">Vehicle zone for private car*</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Zone A (Ahmedabad, Bengaluru, Delhi, Mumbai, Chennai, Hyderabad, Kolkata)</option>
          <option value="1">Zone B (Rest of India)</option>
        
            </select>
      </div>
      <br>
      <div class="input-group mb-3 sol">
        <span class="input-group-text" id="inputGroup-sizing-default">Insured's declared value (IDV in Rs.)  *</span>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <br>

      <div class="input-group mb-3 sol">
        <span class="input-group-text" id="inputGroup-sizing-default">Colour as per RC book*</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group sol">
        <span class="input-group-text">Registration no.*</span>
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
      </div>
<br>
      <div class="input-group mb-3 sol">
        <span class="input-group-text" id="inputGroup-sizing-default">Engine no.*</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <br>
      <div class="input-group mb-3 sol">
        <span class="input-group-text" id="inputGroup-sizing-default">Chassis no.*</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <br>
      <div class="input-group mb-3 sol">
        <label class="input-group-text" for="inputGroupSelect01">Type of fuel*</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Select</option>
          <option value="1">Petrol</option>
          <option value="2">Diesel</option>
          <option value="1">Battery</option>
          <option value="2">LPG Petrol</option>
          <option value="1">LPG Diesel </option>
            </select>
      </div>
      <br>
      <div class="input-group mb-3 sol">
        <span class="input-group-text" id="inputGroup-sizing-default">Previous Policy No.*</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <br>
      
      <div class="input-group mb-3 sol">
        <label class="input-group-text" for="inputGroupSelect01">Name of previous insurer*</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Select</option>
          <option value="1">New India Assurance</option>
          <option value="2">Unted India Insurance</option>
          <option value="1">National Insurance</option>
          <option value="2">Reliance General Insurance</option>
          <option value="1">HDFC General Insurance </option>
          <option value="2">Liberty General Insurance</option>
            </select>
      </div>
      <br>
      <div class="sol1"> Do you have NCB from previous private car policy?*
        <div class="form-check form-check-inline"> 
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="yes" value="option1">
          <label class="form-check-label" for="yes">Yes </label>
        </div> 
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="no" value="option2">
          <label class="form-check-label" for="no">No </label>
        </div>
        </div>
        <br>
        <div class="input-group mb-3 sol">
          <label class="input-group-text" for="inputGroupSelect01">NCB% on previous policy*</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Select</option>
            <option value="1">0%</option>
            <option value="2">20%</option>
            <option value="1">25%</option>
            <option value="2">35%</option>
            <option value="1">45%</option>
            <option value="2">50%</option>
              </select>
        </div>
        <br>
        <div class="sol1"> Need to Take Coverage 
          <div class="form-check form-check-inline"> 
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="package" value="option1">
            <label class="form-check-label" for="package">Package </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="Enchancement" value="option2">
            <label class="form-check-label" for="Enchancement">Enchancement</label>
          </div>
          <div class="form-check form-check-inline"> 
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="Liability" value="option1">
            <label class="form-check-label" for="Liability">Liability </label>
          </div>
          </div>
          <br>
      <div class="input-group mb-3 sol">
        <label class="input-group-text" for="inputGroupFile01">Upload the RC Book</label>
        <input type="file" class="form-control" id="inputGroupFile01">
      </div>
<br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-primary me-md-2" type="button">Save & Recalculate Premium</button>
        <button class="btn btn-primary me-md-2" type="button">Approve & Add Chart</button>
        <button class="btn btn-primary" type="button">Approve & Pay</button>
      </div>
      <br>
      <br>
</div>